@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

/* 그리드시스템 설정 */
.container {
    width: 100%; /* 모바일, 태블릿의 크기 */
    max-width: 1024px; /* PC의 크기 */
    margin: 0 auto;
}

/* ===== header ===== */
/* mobile */
header {
    width: 100%; height: 300px;
    background: url(../images/header.jpg) no-repeat left top;
    background-size: cover;
}

.mainmenu {
    background-color: black;
}

.gnb {
    display: flex;
}

.gnb > li {
    padding: 20px;
}

.gnb > li > a {
    color: white;
} 

/* tablet */
@media (min-width: 768px) {
    header {
        height: 400px;
    }
}

/* PC */
@media (min-width: 1024px) {
    header {
        height: 500px;
    }
}

/* ===== main ===== */
/* mobile */
section {
    padding: 30px;
    background-color: antiquewhite;
}

section#map {
    background-color: #ccc;
}

.flex-content {
    display: flex;
    flex-direction: column;
}

.flex-content .photo {
    display: none;
}

.content-txt {
    margin-top: 20px;
}

.content-txt > p {
    font-weight: 600;
}

#choice .content-txt > h3 {
    color: skyblue;
    margin-bottom: 15px;
}

#choice .content-txt li {
    list-style: decimal;
    list-style-position: inside;
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .flex-content {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flex-content > section {
        width: 50%;
        border: 1px solid #aaa;
    }
    
    .flex-content > section#choice {
        width: 100%;
    }
}



@media (min-width: 1024px) {
    .flex-content {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .flex-content > section {
        width: 100%;
        border: none;
    }

    .flex-box {
        display: flex;
    }

    .flex-box .photo {
        display: block;
        margin: 20px 20px 0 0;
    }

    section#choice .flex-box .photo {
        order: 2;
        margin-right: 0px;
        margin-left: 50px;
    }

    section#choice .flex-box .photo > img {
        border-radius: 50%;
    }

    section#choice .flex-box .content-txt {
        order: 1;
    }
}

/* ===== footer ===== */
footer {
    width: 100%; height: 100px;
    background-color: black;
}

footer > h2 {
    font-family: 'Yeon Sung';
    color: white;
    text-align: center;
    line-height: 100px;
}

